/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.toolbar-logo {
	margin: -8px 0 -16px;
}

/* */

.name {
	font-weight: bold;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.owner {
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.links {
	display: inline-block;
}

.links > * {
	padding-left: 10px;
}

.icon-holder {
	text-align: center;
	padding-top: 16px;
	background-color: white;
}

.icon {
	width: 96px;
	height: 96px;
}

.blurb {
	padding: 18px 0 20px;
	font-size: 14px;
	font-style: italic;
}

/* Details */

.details {
	position: absolute;
	z-index: 10;
	border-radius: 16px;
	background-color: white;
	font-size: 14px;
}

.details-header {
	padding: 22px 48px 16px;
	border-bottom: 1px solid #eee;
}

.details-buttons {
	text-align: center;
	padding: 32px 0 16px;
}

.details-buttons .onyx-button {
	font-size: 14px;
	margin: 4px 16px;
	width: 120px;
}

.details-scroller {
	padding-bottom: 10px;
}

.details-scroller-content {
	padding: 0px 48px 22px;
}

.details-close {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.details .name {
	font-size: 24px;
	padding-bottom: 4px;
}

.details .icon {
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 200px;
}